<div class="content">
    
    <form [formGroup]="addParcel" (ngSubmit)="AddParcel()">
    <div class="right">
      
        <h1> Add a New Order</h1>
        <Label>Name</Label>
        <input type="text" formControlName="name" required=""/>

        <Label>Email</Label>
        <input type="text" formControlName="description" required pattern="[a-zA-Z0-9._%+-]+@travel\.com$"/>
     


        <Label>Destination</Label>
        <input type="text" formControlName="image" />

        
        <button type="submit">Add Order</button>
    
    </div>
</form>
</div>