<div class="navbar">
    
    <div class="links">
        <a routerLink="" routerLinkActive="active" 
        [routerLinkActiveOptions]="{exact:true}">Home</a>
        <a *ngIf="authService.isLoggedIn" routerLink="products/add/new" routerLinkActive="active">Add An Order</a>
        <a *ngIf="authService.isLoggedIn" [routerLink]="['products']" routerLinkActive="active">Parcels available</a>
    </div>
    
    <div class="auth">
        <a routerLink="login" *ngIf="!authService.isLoggedIn">Login</a>
        <a *ngIf="authService.isLoggedIn" (click)="authService.logout()">Logout</a>
    </div>
    </div>

    <router-outlet></router-outlet>
    
    