<div class="content">
    <div class="left">
      
    </div>
    <form [formGroup]="form" (ngSubmit)="UpdateParcel()">
    <div class="right">
      
        <h1> Update Product</h1>
        <Label>Name</Label>
        <input type="text" formControlName="name" />

        <Label>Email</Label>
        <input type="text" formControlName="email" />

        <Label>Destination</Label>
        <input type="text" formControlName="destination" />    

        <button type="submit">Update Parcel</button>
    
    </div>
</form>
</div>